.container1,.container2,.container3{
    display: flex;
    align-items: center;
    text-align: center;
    height: 310px;
}

#container1 h1 {
    border-radius: 15px;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid red;
    width: 483px;
    padding: 15px;
    margin: 10px;
    height: 310px;
    background-color: aquamarine;
  }

  #container2 h1 {
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid red;
    width: 483px;
    padding: 30px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 15px;
  }
  #container3 h1 {
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid red;
    width: 483px;
    padding: 30px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 15px;
  }

.mini1{
    box-sizing: border-box;
    background-color: antiquewhite;
    border: 2px solid red;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    flex-direction: column;
    width: 480px;
   
}
